#root {
  width: 100%;
  padding: 2rem;
}

.badge {
  padding: .5em 1em;
  background-color: white;
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  display: inline-block;
}

.pill {
  border-radius: 18px;
}

.square {
  border-radius: 6px;
}

.banner {
  background-color: white;
  color: black;
  padding: 1.5em 2em;
  border-radius: .5em;
  display: flex;
}

.icon-box {
  margin-right: .5em;
  font-size: 1.2em;
}

.banner p{
  margin-top: .75em;
}

.card {
  max-width: 460px;
  background-color: #fff;
  text-align: center;
  padding: 1.5em;
  line-height: 1.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .75em;
  font-size: 1.2em;
}

.card .icon {
  background-color: #5278f4;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-radius: 8px;
  position: relative;
  top: -2em;
}

.card h3 {
  color: black;
  margin: -1.5em 0 1em;
}
.card p {
  color: rgb(34, 34, 34);
}

/* Colors codes */
.danger {
  background-color: #FEE2E1;
  color: #981C18;
}
.warning {
  background-color: #FEF3C7;
  color: #964616;
}
.neutral {
  background-color: #DBEAFF;
  color: #1D3FAD;
}
.success {
  background-color: #D0FAE4;
  color: #096144;
}
.violet {
  background-color: #EDEAFF;
  color: #5A20B7;
}
.indigo {
  background-color: #E1E7FF;
  color: #3D34A5;
}
.pink {
  background-color: #F1F1F1;
  color: #9E164C;
}